doctype html
//if lt IE 7
  html.ie.ie6(lang='en')
//if IE 7
  html.ie.ie7(lang='en')
//if IE 8
  html.ie.ie8(lang='en')
// [if (gte IE 9)|!(IE)] <!
html.not-ie(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Melanie L. Fryman - Portfolio')
    meta(name='keywords', content='portfolio')
    meta(name='author', content='Melanie L. Fryman')
    title Melanie L. Fryman&apos;s Portfolio
    // Fav and touch icons
    link(rel='shortcut icon', href='public/assets/img/icons/favicon.ico')
    link(rel='apple-touch-icon', href='public/assets/img/icons/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='public/assets/img/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='public/assets/img/icons/apple-touch-icon-114x114.png')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //- this points to the stylesheets partial
    include views/blocks/stylesheets
  body
    // Preloader
    .mask
      .bubblingG
        span#bubblingG_1
        span#bubblingG_2
        span#bubblingG_3
    // PAGE WRAPPER
    #page-wrapper
      include views/sections/home
      include views/sections/navigation
      include views/sections/service
      include views/sections/hire1
      include views/sections/portfolio
      include views/sections/hire2
      include views/sections/resume
      include views/sections/hire3
      include views/sections/contact
      include views/blocks/footer
      //-  this points to the scripts partial
      include views/blocks/scripts
