.port-holder
  .row
    // Project Title
    .project-title
      h1 Appr
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p As the first technical hire at a budding startup, you must battle legacy code,
        | raise funds, fix computers, and gather as much fad technology as possible,
        | all before your funding runs out.
      p
        i.fa.fa-code &nbsp;
          | Phaser &amp; JavaScript &nbsp;
          i.fa.fa-code
      section
        .buttons
          a(href='http://melanie.fryman.io/appr-ht7/', title='Play Appr', target='_blank')
            i.fa.fa-2x.fa-gamepad
          a(href='http://github.com/mlfryman/appr-ht7', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/appr/screenshot1.png', alt='Menu')
          .item
            img(src='public/assets/img/projects/appr/screenshot2.png', alt='Intro')
          .item
            img(src='public/assets/img/projects/appr/screenshot3.png', alt='Sprint')
