.port-holder
  .row
    // Project Title
    .project-title
      h1 BrowniePoints
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p You know those etherial brownie points people give out? With Brownie Points,
        | you can praise your buddies by awarding brownie points for their good deeds.
        | If your buddy turns out to not be your pal, take those points back!
      p Been hoarding brownie points? Cash out on an array of prizes!
      p
        i.fa.fa-code &nbsp;
          | NodeJS, AngularJS, PostgreSQL, Hapi &nbsp;
          i.fa.fa-code
      section
        .buttons
          a(href='http://browniepoints.fryman.io/', title='Go to BrowniePoints App', target='_blank')
            i.fa.fa-2x.fa-desktop
          a(href='http://github.com/mlfryman/browniepoints', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/browniepointsv2/bp-home.png', alt='Home')
          .item
            img(src='public/assets/img/projects/browniepointsv2/bp1.png', alt='Dashboard')
          .item
            img(src='public/assets/img/projects/browniepointsv2/bp2.png', alt='Friend')
          .item
            img(src='public/assets/img/projects/browniepointsv2/bp3.png', alt='Add Points')
          .item
            img(src='public/assets/img/projects/browniepointsv2/bp4.png', alt='Add Prize')
