.port-holder
  .row
    // Project Title
    .project-title
      h1 BrowniePoints v2
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p A Whovian Twist on Flappy Bird
      section
        .buttons
          a(href='http://melanie.fryman.io/wobblywho/', title='Play Wobbly Who', target='_blank')
            i.fa.fa-2x.fa-gamepad
          a(href='http://github.com/mlfryman/wobblywho', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
        p.tag Play
        p.tag Code
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/wobblywho/wobblywho_menu.png', alt='Menu')
          .item
            img(src='public/assets/img/projects/wobblywho/wobblywho_lvl1.png', alt='Level 1')
          .item
            img(src='public/assets/img/projects/wobblywho/wobblywho_kill.png', alt='Kill Screen')
