.port-holder
  .row
    // Project Title
    .project-title
      h1 Celebridate
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p A Dating App for Celebrities
      p Team: Adam Barnhard, Melanie Fryman, Sarah Pearson, and Mark Supalla
      p
        i.fa.fa-code &nbsp;
          | MongoDB, Express, NodeJS &nbsp;
          i.fa.fa-code
      section
        //- .buttons
        //-   a(href='http://celebridate.adambarnhard.com/', title='Go to Celebridate App', target='_blank')
        //-     i.fa.fa-2x.fa-desktop
          a(href='http://github.com/mlfryman/celebridate', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/celebridate/celebridate.png', alt='Home')
