.port-holder
  .row
    // Project Title
    .project-title
      h1 Duper Mario
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p A Super Mario Bros. Clone
      p Team: Mikey Badr, Michael Barreiro, Melanie Fryman, and Dennis Stanley, &amp; Nathan Vasquez
      p
        i.fa.fa-code &nbsp;
          | Phaser &amp; JavaScript &nbsp;
          i.fa.fa-code
      section
        .buttons
          //- a(href='http://melanie.fryman.io/dupermario', title='Play Duper Mario', target='_blank')
          //-   i.fa.fa-2x.fa-gamepad
          a(href='http://github.com/mlfryman/dupermario', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/dupermario/dupermario_menu.png', alt='Menu')
          .item
            img(src='public/assets/img/projects/dupermario/dupermario_lvl1.png', alt='Level 1')
          .item
            img(src='public/assets/img/projects/dupermario/dupermario_kill.png', alt='Kill Screen')
