.port-holder
  .row
    // Project Title
    .project-title
      h1 Evernode
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p Take your note-taking to the next level with Evernode! From personal reminders
        | to lecture notes to meeting minutes, Evernode has you covered. Quickly find
        | your notes with a simple search by title, text, or tags.
      p
        i.fa.fa-code &nbsp;
          | NodeJS, AngularJS, PostgreSQL, Hapi &nbsp;
          i.fa.fa-code
      section
        .buttons
          //- a(href='http://evernode.fryman.io', title='Go to Evernode App', target='_blank')
          //-   i.fa.fa-2x.fa-desktop
          a(href='http://github.com/mlfryman/evernode', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/evernode/evernode-home.png', alt='Home')
          .item
            img(src='public/assets/img/projects/evernode/evernode1.png', alt='Dashboard')
          .item
            img(src='public/assets/img/projects/evernode/evernode2.png', alt='Note')

