.port-holder
  .row
    // Project Title
    .project-title
      h1 Mogwai Roundup
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p Chase Down the Mogwai
      p
        i.fa.fa-code &nbsp;
          | Phaser &amp; JavaScript &nbsp;
          i.fa.fa-code
      section
        .buttons
          a(href='http://melanie.fryman.io/gp-mogwai-roundup/', title='Play Mogwai Roundup', target='_blank')
            i.fa.fa-2x.fa-gamepad
          a(href='http://github.com/mlfryman/gp-mogwai-roundup', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
        p.tag Play
        p.tag Code
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/mogwairoundup/mogwairoundup1.png', alt='Menu')
          .item
            img(src='public/assets/img/projects/mogwairoundup/mogwairoundup2.png', alt='Level 1')
