.port-holder
  .row
    // Project Title
    .project-title
      h1 NashVesTN
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      h4 HackNashville6 Finalist
      p NashvesTN helps non-profit organizations increase their community impact by engaging the Millennial Generation.
      p Through a participating non-profit organization, homeless individuals can set up a profile to tell their story,
        | share their skills and aspirations, and provide updates to social advocates. The companion mobile app makes it
        | easier for social advocates to donate directly to homeless individuals in their community, learn more about them, and save
        | their profile to stay connected.
      p Team: Melanie Fryman, Brian Hiatt, Jeremy Jones, Kayla Jones, Sarah Pearson, Joy Pratt, Jessica Raines, Gregg Reece, &amp; Shruti Sharma
      p
        i.fa.fa-code &nbsp;
          | Web App: MongoDB, Mongoose, Express, AngularJS, NodeJS | Mobile App: Cordova, Ionic &nbsp;
          i.fa.fa-code
      section
        .buttons
          //- a(href='http://nashvestn.herokuapp.com/', title='Go to Web App', target='_blank')
          //-   i.fa.fa-2x.fa-desktop
          //- a(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', title='Get the Mobile App', target='_blank')
          //-   img.googleP(src='public/assets/img/googlePlay.png', alt='Google Play')
          a(href='http://github.com/mlfryman/nashvestn', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn_main.png', alt='Desktop Administration')
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn1.png', alt='Desktop Administration')
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn2.png', alt='Desktop Administration')
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn3.png', alt='Desktop Administration')
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn4.png', alt='Desktop Administration')
          .item
            img(src='public/assets/img/projects/nashvestn/nashvestn-mobile.png', alt='Mobile App')


