html
  body
    .port-holder
      .row
        // Project Close Button
        .col-md-12
          ul.pclose
            li
              a#portfolio-close(href='#', title='Close Project')
                i.fa.fa-times-circle-o
        // Project Title
        .project-title
          h1 Project Title
          p Branding / Graphic
        // Project slider
        .row
          div
        .col-md-12
          .portfolio-media
            #project-carousel.owl-carousel.owl-theme
              .item
                img(src='http://placehold.it/800x450', alt='')
              .item
                img(src='http://placehold.it/800x450', alt='')
              .item
                img(src='http://placehold.it/800x450', alt='')
        // Project Details
        .col-md-12
          h2 WESTERUTUN NISI QUAM
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lacus aliquam, porttitor purus ut, ultricies orci. Pellentesque rhoncus ornare commodo. Fusce et risus sit amet velit faucibus elementum. Integer consectetur ac augue in pulvinar. Fusce ut vestibulum sapien. Fusce venenatis magna lacus, eget venenatis sem ornare vel. Integer sagittis diam et mi molestie facilisis.
