.port-holder
  .row
    // Project Title
    .project-title
      h1 Project Demo
        sup
          a#portfolio-close.push-left(href='#', title='Close Project')
            i.fa.fa-times-circle-o
      p Description
      p Team: Bob Boberson, Luke Skywalker, Seven
      p
        i.fa.fa-code &nbsp;
          | MongoDB, Express, NodeJS &nbsp;
          i.fa.fa-code
      section
        .buttons
          a(href='', title='Go to Web App', target='_blank')
            i.fa.fa-2x.fa-desktop
          a(href='http://github.com/mlfryman/', title='View Source Code', target='_blank')
            i.fa.fa-2x.fa-github-square
    .row
      div
    .col-md-12
      .portfolio-media
        #project-carousel.owl-carousel.owl-theme
          .item
            img(src='public/assets/img/placeholder.png', alt='Home')
