html
  body
    .port-holder
      .row
        // Project Close Button
        .col-md-12
          ul.pclose
            li
              a#portfolio-close(href='#', title='Close Project')
                i.fa.fa-times-circle-o
        // Project Title
        .project-title
          h1 Wobbly Who
          p A Whovian Twist on Flappy Bird
        // Project Screenshot
        .col-md-12
          .portfolio-media
            img.center(src='public/assets/img/projects/wobblywho/wobblywho_menu.png')
        // Project Details
        .row
          .col-md-6(style='text-align: center')
            a(href='http://melanie.fryman.io/wobblywho/', title='Play Wobbly Who')
              i.fa.fa-play &nbsp; Play
          .col-md-6(style='text-align: center')
            a(href='http://github.com/mlfryman/wobblywho', title='View Source Code')
              i.fa.fa-github-square &nbsp; Source Code

