// Section : Contact
section#contact.section
  .container
    // section title
    .section-title
      h1 Contact me
      span.border
    .row
      .col-md-12
        h2 LET&apos;S GET IN TOUCH
        ul.get_in
          li
            i.fa.fa-envelope-o
            p
              a(href='mailto:melanie@fryman.io') melanie@fryman.io
          li
            i.fa.fa-phone
            p 615.973.8933
          li
            i.fa.fa-map-marker
            p Nashville, TN, U.S.A.
          li
            a(href='public/assets/mlfryman.vcf', target='_blank')
              i.fa.fa-cloud-download
              p Download Vcard
          li
            a(href='public/assets/mlfryman_resume.pdf', target='_blank')
              i.fa.fa-file-o
              p Download Resume
        // Social Icons
        ul.social
          li
            a.linkedin(href='https://www.linkedin.com/in/mlfryman')
          li
            a.github(href='https://github.com/mlfryman')
          li
            a.twitter(href='https://twitter.com/mlfryman')
