// Parallax Section : For Hire
#hire.parallax(style="background-image: url('public/assets/img/bg/rain.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='0')
  .parallax-overlay-2
    .container
      .row
        .col-md-12
          h1 I Am Available for Hire!
      .row
        .col-md-3
        .col-md-3
          a.mt-button.large.outline(href='#contact') Contact Me
        .col-md-3
          a.mt-button.large.outline(href='public/assets/Fryman_Resume_20231121.pdf', target='_blank') Download Resume
        .col-md-3
