// Section : Home
section#home.parallax(style="background-image: url('public/assets/img/bg/7.png');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='0')
  .parallax-overlay
    .container
      .col-md-12
        .avater(style="background-image: url('public/assets/img/profile/bashfryman.png');background-size: cover;")
        .info
          h1 Melanie Fryman
          h2 Developer. Data Analyst. Sociologist.
        .gotosection
          a(href='#service')
            i.fa.fa-angle-double-down
