// Section : Portfolio
section#portfolio.section
  .container
    .section-title
      h1 Portfolio
      span.border
      p
        | Coming soon!
    .portfolio-start
    // Project Details
    #project-details-box
      #project-data
    #options.clearfix
      ul#filters.option-set.clearfix(data-option-key='filter')
        li
          a.selected(href='#filter', data-option-value='*') all
        li
          a(href='#filter', data-option-value='.webdesign') MEAN Stack
        li
          a(href='#filter', data-option-value='.uidesign') NASH Stack
        li
          a(href='#filter', data-option-value='.games') Games
        li
          a(href='#filter', data-option-value='.logodesign') Mobile
        li
          a(href='#filter', data-option-value='.illustration') Capstones
    // Portfolio container
    .portfolio-container
      // Portfolio Item
      .portfolio-item.mt.games
        a.project-link(href='public/views/projects/wobblywho.html', title='Wobbly Who')
          .portfolio-image
            img(src='public/assets/img/projects/wobblywho/wobblywho_menu.png', alt='Wobbly Who Menu')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Wobbly Who
              p.item-type A Whovian Twist on Flappy Bird
      // Portfolio Item
      .portfolio-item.mt.webdesign.logodesign.photography
        a.project-link(href='public/views/projects/project2.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 2')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Slider
      // Portfolio Item
      .portfolio-item.mt.uidesign.photography
        a.project-link(href='public/views/projects/project3.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 3')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Video
      // Portfolio Item
      .portfolio-item.mt.webdesign
        a.project-link(href='public/views/projects/project4.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 4')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Slider
      // Portfolio Item
      .portfolio-item.mt.branding.logodesign.photography
        a.project-link(href='public/views/projects/project5.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 5')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Video
      // Portfolio Item
      .portfolio-item.mt.webdesign.illustration
        a.project-link(href='public/views/projects/project6.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 6')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Slider
      // Portfolio Item
      .portfolio-item.mt.branding.illustration
        a.project-link(href='public/views/projects/project7.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 7')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Video
      // Portfolio Item
      .portfolio-item.mt.webdesign.illustration
        a.project-link(href='public/views/projects/project8.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='Portfolio 8')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Project Title
              p.item-type Slider
