// Section : Portfolio
section#portfolio.section
  .container
    .section-title
      h1 Portfolio
      span.border
    .portfolio-start
    // Project Details
    #project-details-box
      #project-data
    #options.clearfix
      ul#filters.option-set.clearfix(data-option-key='filter')
        li
          a.selected(href='#filter', data-option-value='*') all
        li
          a(href='#filter', data-option-value='.mean') MEAN Stack
        li
          a(href='#filter', data-option-value='.nash') NASH Stack
        li
          a(href='#filter', data-option-value='.games') Games
        li
          a(href='#filter', data-option-value='.mobile') Mobile
        li
          a(href='#filter', data-option-value='.capstones') Capstones
        li
          a(href='#filter', data-option-value='.hacknsh') HackNashville
    // Portfolio container
    .portfolio-container
      // Wobbly Who
      .portfolio-item.mt.games
        a.project-link(href='public/views/projects/wobblywho.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/wobblywho/wobblywho.png', alt='Wobbly Who')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Wobbly Who
              p.item-type A Whovian Twist on Flappy Bird
      // Duper Mario
      .portfolio-item.mt.games
        a.project-link(href='public/views/projects/dupermario.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/dupermario/dupermario.png', alt='Duper Mario')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Duper Mario
              p.item-type A Super Mario Bros. Clone
      // BrowniePoints v2
      .portfolio-item.mt.nash.capstones
        a.project-link(href='public/views/projects/browniepointsv2.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/browniepointsv2/bp-home.png', alt='BrowniePoints v2')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name BrowniePoints v2
              p.item-type description
      // NashVesTN
      .portfolio-item.mt.hacknsh
        a.project-link(href='public/views/projects/nashvestn.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/nashvestn/nashvestn-desk.png', alt='NashVesTN')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name NashVesTN
              p.item-type description
      // Nashville Investor
      .portfolio-item.mt.capstones.mean
        a.project-link(href='public/views/projects/nashinvestor.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/nashinvestor/nashinvestor.png', alt='Nashville Investor')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Nashville Investor
              p.item-type description
      // Evernode
      .portfolio-item.mt.nash.mobile
        a.project-link(href='public/views/projects/evernode.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/evernode/evernode-home.png', alt='Evernode')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Evernode
              p.item-type description
      // Celebridate
      .portfolio-item.mt.node
        a.project-link(href='public/views/projects/celebridate.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/projects/celebridate/celebridate.png', alt='Celebridate')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name Celebridate
              p.item-type description
      // BrowniePoints v1
      .portfolio-item.mt.mean.capstones
        a.project-link(href='public/views/projects/browniepoints1.html', title='Open Project')
          .portfolio-image
            img(src='public/assets/img/placeholder.jpg', alt='BrowniePoints v1')
          .item-overlay
            .item-info
              .zoom-icon
              h4.item-name BrowniePoints v1
              p.item-type description
