// Section : Service
section#service.section
  .container
    // section title
    .section-title
      h1 Skills
      span.border
      p
        | Combining my skills as a developer, data analyst, &amp; sociologist, I can provide a unique perspective.
    .row
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.fa.fa-desktop
        h5 Full Stack
        p.skills
          i.devicons.devicons-angular &nbsp;
            | AngularJS
          br
          i.devicons.devicons-javascript_badge &nbsp;
            | Express &amp; Hapi
          br
          i.devicons.devicons-java &nbsp;
            | Java
          br
          i.devicons.devicons-javascript &nbsp;
            | Javascript
          br
          i.devicons.devicons-mongodb &nbsp;
            | MongoDB
          br
          i.devicons.devicons-msql_server &nbsp;
            | MS SQL Server
          br
          i.devicons.devicons-nodejs &nbsp;
            | Node.js
          br
          i.devicons.devicons-php &nbsp;
            | PHP
          br
          i.devicons.devicons-python &nbsp;
            | Python
          br
          i.devicons.devicons-postgresql &nbsp;
            | PostgreSQL
          br
          i.devicons.devicons-redis &nbsp;
            | Redis
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.li_phone
        h5 Hybrid Mobile
        p.skills
          i.devicons.devicons-android &nbsp;
            | Android
          br
          i.devicons.devicons-phonegap &nbsp;
            | Cordova
          br
          i.devicons.devicons-ionic &nbsp;
            | Ionic
          br
          i.devicons.devicons-apple &nbsp;
            | iOS
          br
          i.devicons.devicons-responsive &nbsp;
            | Responsive design
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.fa.fa-gamepad
        h5 Game Dev
        p.skills
          i.fa.fa-rocket &nbsp;
            | Phaser
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.fa.fa-lightbulb-o &nbsp;
        h5 User Experience / Interface
        p.skills
          i.devicons.devicons-bootstrap &nbsp;
            | Bootstrap / Zurb Foundation
          br
          i.devicons.devicons-css3 &nbsp;
            | CSS 3
          br
          i.devicons.devicons-html5 &nbsp;
            | HTML 5
          br
          i.devicons.devicons-jquery &nbsp;
            | jQuery
          br
          i.devicons.devicons-less &nbsp;
            | Less
          br
          i.devicons.devicons-sass &nbsp;
            | Sass
    .row
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.fa.fa-magic
        h5 Tools
        p.skills
          i.devicons.devicons-atlassian &nbsp;
            | Atlassian
          br
          i.devicons.devicons-aws &nbsp;
            | AWS
          br
          i.devicons.devicons-heroku &nbsp;
            | Heroku
          br
          i.devicons.devicons-github_badge &nbsp;
            | GitHub
          br
          i.devicons.devicons-grunt &nbsp;
            | Grunt
          br
          i.devicons.devicons-gulp &nbsp;
            | Gulp
          br
          i.devicons.devicons-npm &nbsp;
            | NPM
          br
          i.devicons.devicons-travis &nbsp;
            | TravisCI
          br
          i.devicons.devicons-trello &nbsp;
            | Trello
          br
          i.devicons.devicons-yeoman &nbsp;
            | Yeoman
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.li_data
        h5 Data Analysis
        p
          | From surveys to focus groups, &amp; everything in between.
          | Data analysis expertise includes data visualization,
          | descriptive and inferential statistics, and social network analysis.
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.li_study
        h5 Research
        p
          | Need to find out what your customers want?  I've got you covered!
      .service-item.col-xs-12.col-sm-4.col-md-3
        span.icon
          i.li_world
        h5 Cultural Context
        p
          | As a sociologist, I can provide often-needed cultural context for app &amp; product development.
