// Section : Service
section#service.section
  .container
    // section title
    .section-title
      h1 Skills
      span.border
      p
        | Combining my skills as a developer, data analyst, &amp; sociologist, I can provide a unique perspective.
    .row
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-desktop
        h5 Full Stack
        p.skills
          i.devicons.devicon-angularjs-plain.push-left &nbsp;
            | AngularJS
          br
          i.devicons.devicon-bash-plain.push-left &nbsp;
            | Bash
          br
          i.devicons.devicon-express-original.push-left &nbsp;
            | Express &amp; Hapi
          br
          i.devicons.devicon-java-plain.push-left &nbsp;
            | Java
          br
          i.devicons.devicon-javascript-plain.push-left &nbsp;
            | Javascript
          br
          i.devicons.devicon-mongodb-plain.push-left &nbsp;
            | MongoDB
          br
          i.devicons.devicon-microsoftsqlserver-plain.push-left &nbsp;
            | MS SQL Server
          br
          i.devicons.devicon-nodejs-plain.push-left &nbsp;
            | Node.js
          br
          i.devicons.devicon-php-plain.push-left &nbsp;
            | PHP
          br
          i.devicons.devicon-postgresql-plain.push-left &nbsp;
            | PostgreSQL
          br
          i.devicons.devicon-python-plain.push-left &nbsp;
            | Python
          br
          i.devicons.devicon-redis-plain.push-left &nbsp;
            | Redis
          br
          i.devicons.devicon-sqlalchemy-plain.push-left &nbsp;
            | SQLAlchemy
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-lightbulb-o &nbsp;
        h5 User Experience / Interface
        p.skills
          i.devicons.devicon-bootstrap-plain.push-left &nbsp;
            | Bootstrap
          br
          i.devicons.devicon-css3-plain.push-left &nbsp;
            | CSS3
          br
          i.devicons.devicon-html5-plain.push-left &nbsp;
            | HTML5
          br
          i.devicons.devicon-jquery-plain.push-left &nbsp;
            | jQuery
          br
          i.devicons.devicon-less-plain-wordmark.push-left &nbsp;
            | Less
          br
          i.devicons.devicon-sass-plain.push-left &nbsp;
            | Sass
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-magic
        h5 Tools
        p.skills
          i.devicons.devicons-atlassian.push-left &nbsp;
            | Atlassian
          br
          i.devicons.devicon-amazonwebservices-plain.push-left &nbsp;
            | AWS
          br
          i.devicons.devicon-heroku-plain.push-left &nbsp;
            | Heroku
          br
          i.devicons.devicon-git-plain.push-left &nbsp;
            | git
          br
          i.devicons.devicon-github-plain.push-left &nbsp;
            | GitHub
          br
          i.devicons.devicon-grunt-plain.push-left &nbsp;
            | Grunt
          br
          i.devicons.devicon-gulp-plain.push-left &nbsp;
            | Gulp
          br
          i.devicons.devicon-jira-plain.push-left &nbsp;
            | JIRA
          br
          i.devicons.devicon-npm-original-wordmark.push-left &nbsp;
            | NPM
          br
          i.devicons.devicon-spss-plain.push-left &nbsp;
            | SPSS
          br
          i.devicons.devicon-travis-plain.push-left &nbsp;
            | TravisCI
          br
          i.devicons.devicon-trello-plain.push-left &nbsp;
            | Trello
          br
          i.devicons.devicons-yeoman.push-left &nbsp;
            | Yeoman
    .row
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_data
        h5 Data Analysis
        p
          | From surveys to focus groups, &amp; everything in between.
          | Data analysis expertise includes data visualization,
          | descriptive &amp; inferential statistics, &amp; social network analysis.
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_study
        h5 Research
        p
          | Need to find out what your customers want?  I've got you covered!
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_world
        h5 Cultural Context
        p
          | As a sociologist, I can provide often-needed cultural context for app &amp; product development.
