// Section : Service
section#service.section
  .container
    // section title
    .section-title
      h1 Skills
      span.border
      p
        | Combining my skills as a developer, data analyst, &amp; sociologist, I can provide a unique perspective.
    .row
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-desktop
        h5 Full Stack
        p.skills
          i.devicons.devicons-angular.push-left &nbsp;
            | AngularJS
          br
          i.devicons.devicons-javascript_badge.push-left &nbsp;
            | Express &amp; Hapi
          br
          i.devicons.devicons-java.push-left &nbsp;
            | Java
          br
          i.devicons.devicons-javascript.push-left &nbsp;
            | Javascript
          br
          i.devicons.devicons-mongodb.push-left &nbsp;
            | MongoDB
          br
          i.devicons.devicons-msql_server.push-left &nbsp;
            | MS SQL Server
          br
          i.devicons.devicons-nodejs.push-left &nbsp;
            | Node.js
          br
          i.devicons.devicons-php.push-left &nbsp;
            | PHP
          br
          i.devicons.devicons-postgresql.push-left &nbsp;
            | PostgreSQL
          br
          i.devicons.devicons-redis.push-left &nbsp;
            | Redis
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-lightbulb-o &nbsp;
        h5 User Experience / Interface
        p.skills
          i.devicons.devicons-bootstrap.push-left &nbsp;
            | Bootstrap
          br
          i.devicons.devicons-css3.push-left &nbsp;
            | CSS3
          br
          i.devicons.devicons-html5.push-left &nbsp;
            | HTML5
          br
          i.devicons.devicons-jquery.push-left &nbsp;
            | jQuery
          br
          i.devicons.devicons-less.push-left &nbsp;
            | Less
          br
          i.devicons.devicons-sass.push-left &nbsp;
            | Sass
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.fa.fa-magic
        h5 Tools
        p.skills
          i.devicons.devicons-atlassian.push-left &nbsp;
            | Atlassian
          br
          i.devicons.devicons-aws.push-left &nbsp;
            | AWS
          br
          i.devicons.devicons-heroku.push-left &nbsp;
            | Heroku
          br
          i.devicons.devicons-github_badge.push-left &nbsp;
            | GitHub
          br
          i.devicons.devicons-grunt.push-left &nbsp;
            | Grunt
          br
          i.devicons.devicons-gulp.push-left &nbsp;
            | Gulp
          br
          i.devicons.devicons-npm.push-left &nbsp;
            | NPM
          br
          i.devicons.devicons-travis.push-left &nbsp;
            | TravisCI
          br
          i.devicons.devicons-trello.push-left &nbsp;
            | Trello
          br
          i.devicons.devicons-yeoman.push-left &nbsp;
            | Yeoman
    .row
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_data
        h5 Data Analysis
        p
          | From surveys to focus groups, &amp; everything in between.
          | Data analysis expertise includes data visualization,
          | descriptive and inferential statistics, and social network analysis.
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_study
        h5 Research
        p
          | Need to find out what your customers want?  I've got you covered!
      .service-item.col-xs-12.col-sm-4.col-md-4
        span.icon
          i.li_world
        h5 Cultural Context
        p
          | As a sociologist, I can provide often-needed cultural context for app &amp; product development.
