<!-- Section : Service--><section id="service" class="section"><div class="container"><!-- section title--><div class="section-title"><h1>Skills</h1><span class="border"></span><p>Combining my skills as a developer, data analyst, &amp; sociologist, I can provide a unique perspective.</p></div><div class="row"><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="fa fa-desktop"></i></span><h5>Full Stack</h5><p class="skills"><i class="devicons devicon-angularjs-plain push-left">&nbsp;
AngularJS</i><br/><i class="devicons devicon-bash-plain push-left">&nbsp;
Bash</i><br/><i class="devicons devicon-express-original push-left">&nbsp;
Express &amp; Hapi</i><br/><i class="devicons devicon-java-plain push-left">&nbsp;
Java</i><br/><i class="devicons devicon-javascript-plain push-left">&nbsp;
Javascript</i><br/><i class="devicons devicon-mongodb-plain push-left">&nbsp;
MongoDB</i><br/><i class="devicons devicon-microsoftsqlserver-plain push-left">&nbsp;
MS SQL Server</i><br/><i class="devicons devicon-nodejs-plain push-left">&nbsp;
Node.js</i><br/><i class="devicons devicon-php-plain push-left">&nbsp;
PHP</i><br/><i class="devicons devicon-postgresql-plain push-left">&nbsp;
PostgreSQL</i><br/><i class="devicons devicon-python-plain push-left">&nbsp;
Python</i><br/><i class="devicons devicon-redis-plain push-left">&nbsp;
Redis</i><br/><i class="devicons devicon-sqlalchemy-plain push-left">&nbsp;
SQLAlchemy</i></p></div><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="fa fa-lightbulb-o">&nbsp;</i></span><h5>User Experience / Interface</h5><p class="skills"><i class="devicons devicon-bootstrap-plain push-left">&nbsp;
Bootstrap</i><br/><i class="devicons devicon-css3-plain push-left">&nbsp;
CSS3</i><br/><i class="devicons devicon-html5-plain push-left">&nbsp;
HTML5</i><br/><i class="devicons devicon-jquery-plain push-left">&nbsp;
jQuery</i><br/><i class="devicons devicon-less-plain-wordmark push-left">&nbsp;
Less</i><br/><i class="devicons devicon-sass-plain push-left">&nbsp;
Sass</i></p></div><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="fa fa-magic"></i></span><h5>Tools</h5><p class="skills"><i class="devicons devicons-atlassian push-left">&nbsp;
Atlassian</i><br/><i class="devicons devicon-amazonwebservices-plain push-left">&nbsp;
AWS</i><br/><i class="devicons devicon-heroku-plain push-left">&nbsp;
Heroku</i><br/><i class="devicons devicon-git-plain push-left">&nbsp;
git</i><br/><i class="devicons devicon-github-plain push-left">&nbsp;
GitHub</i><br/><i class="devicons devicon-grunt-plain push-left">&nbsp;
Grunt</i><br/><i class="devicons devicon-gulp-plain push-left">&nbsp;
Gulp</i><br/><i class="devicons devicon-jira-plain push-left">&nbsp;
JIRA</i><br/><i class="devicons devicon-npm-original-wordmark push-left">&nbsp;
NPM</i><br/><i class="devicons devicon-spss-plain push-left">&nbsp;
SPSS</i><br/><i class="devicons devicon-travis-plain push-left">&nbsp;
TravisCI</i><br/><i class="devicons devicon-trello-plain push-left">&nbsp;
Trello</i><br/><i class="devicons devicons-yeoman push-left">&nbsp;
Yeoman</i></p></div></div><div class="row"><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="li_data"></i></span><h5>Data Analysis</h5><p>From surveys to focus groups, &amp; everything in between.
Data analysis expertise includes data visualization,
descriptive &amp; inferential statistics, &amp; social network analysis.</p></div><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="li_study"></i></span><h5>Research</h5><p>Need to find out what your customers want?  I've got you covered!</p></div><div class="service-item col-xs-12 col-sm-4 col-md-4"><span class="icon"><i class="li_world"></i></span><h5>Cultural Context</h5><p>As a sociologist, I can provide often-needed cultural context for app &amp; product development.</p></div></div></div></section>